
.container{
    width: 1920px;
    height: 1080px;
    display: flex;
    border: 1px solid yellow;
    background-color: rgb(251, 244, 234);
}
header {
    text-align: center;
    width: 100px;
    border: 1px solid palevioletred;
}
header p {
    text-align: center;
}

#main {
    width: 850px;
    border: 1px solid blue;
    
}
#sub {
    
    width: 860px;
    border: 1px solid orangered;
}
#sub img {
    display: block;
    margin: 30px;
}

.sub_container{

    display: flex;
    background-color: white;
    margin: 30px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
}
.sub_container p {
    font-size: small;
    text-align: ;
}
.sub_container img {
    width: 40%;
}
footer {
    width: 100px;
    border: 1px solid black;
    
}
footer p {
    text-align: center;
}

/* 
flex-direction: column;
 text-align: center;
 justify-content: space-between; */