.item {
    background: #fff;
    color: rgb(92, 20, 20);
    margin: 10px;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 300px;
    /*justify-content: flex-end;*/

    /* flex-wrap: wrap;*/
}